// html,
// body {
//   width: 100vw;
// }

// body {
//   background: #f5f7fa;
//   padding: 40px 0;
//   box-sizing: border-box;
//   font-family: Montserrat, "sans-serif";
//   color: #51565d;
// }

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(45px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 100px;
  overflow: auto;
  margin-bottom: 100px;

  &-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    max-width: 100%;
  }

  &-header {
    padding: 5px 0;
    background: linear-gradient(to bottom, rgb(250, 251, 253) 0%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    display: flex;
    justify-content: space-between;

    bronco-icon {
      cursor: pointer;
      --box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      margin: 10px;
      border-radius: 50%;
    }

    .monthYear {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 928px) {
  .calendar-container {
    width: 100%;
    margin: 0;
  }
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 0px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  &:nth-of-type(7n + 7) {
    border-right: 0;
  }

  &:nth-of-type(n + 1):nth-of-type(-n + 7) {
    grid-row: 2;
  }

  &:nth-of-type(n + 8):nth-of-type(-n + 14) {
    grid-row: 3;
  }

  &:nth-of-type(n + 15):nth-of-type(-n + 21) {
    grid-row: 4;
  }

  &:nth-of-type(n + 22):nth-of-type(-n + 28) {
    grid-row: 5;
  }

  &:nth-of-type(n + 29):nth-of-type(-n + 35) {
    grid-row: 6;
  }

  &:nth-of-type(7n + 1) {
    grid-column: 1/1;
  }

  &:nth-of-type(7n + 2) {
    grid-column: 2/2;
  }

  &:nth-of-type(7n + 3) {
    grid-column: 3/3;
  }

  &:nth-of-type(7n + 4) {
    grid-column: 4/4;
  }

  &:nth-of-type(7n + 5) {
    grid-column: 5/5;
  }

  &:nth-of-type(7n + 6) {
    grid-column: 6/6;
  }
  &:nth-of-type(7n + 7) {
    grid-column: 7/7;
  }

  &-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
  }

  &--occupied {
    background: rgba(#fdc5d0, 0.7);
    background: linear-gradient(#ffe8ec9d 10%, #fdc5d0 90%);
  }

  &--disabled {
    color: rgba(#98a0a675, 0.6);
    background-color: #ffffff7c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }
}

.day > .entry {
  pointer-events: none;
  width: 100%;
  background: rgba(#fdc5d0, 0.7);
  z-index: 9999;
}

.day:hover {
  .entryDetail {
    display: block;
    z-index: 9999 !important;
  }
}

#num {
  position: absolute;
  top: 5px;
  right: 5px;
}

.entryDetail {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  background: #fff;
  border: 1px solid rgba(166, 168, 179, 0.2);
  color: #000;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 99;

  &:after,
  &:before {
    bottom: 100%;
    left: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-bottom-color: rgba(166, 168, 179, 0.2);
    border-width: 8px;
    margin-left: -8px;
  }

  &:after {
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
  }

  h2 {
    font-size: 15px;
    margin: 0;
    color: #51565d;
  }

  p {
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    color: rgba(#51565d, 0.7);
  }
}
